.card-container {
  display: flex;
  flex-direction: column;
  margin: 5rem 3rem;
}

.card-container-top {
  display: flex;
  flex-direction: row;
}

.card-container-middle {
  display: flex;
  flex-direction: row;
}

.card-container-bottom {
  display: flex;
  flex-direction: row;
}